<div id="sidenav" class="sidenav-wrapper collapsed">
  <div class="sidenav-header">
    <h1>Jones & Wilkinson Ltd</h1>
    <div onclick="utils.toggleMenu()" class="close-icon">x</div>
  </div>
  <div class="link-wrapper">
    <a href="/" class="link">
      Home
    </a>
  </div>
  <div class="subsection-heading">Services</div>
  <div class="subsection">
    <div class="link-wrapper">
      <a href="/services/diecast-machining" class="link">
        Diecast Machining
      </a>
    </div>
    <div class="link-wrapper">
      <a href="/services/toolmaking" class="link">
        Toolmaking
      </a>
    </div>
    <div class="link-wrapper">
      <a href="/services/secondary-operations" class="link">
        Secondary operations
      </a>
    </div>
    <div class="link-wrapper">
      <a href="/services/assembly" class="link">
        Assembly
      </a>
    </div>
  </div>
  <div class="link-wrapper">
    <a href="/contact" class="link">
      Contact
    </a>
  </div>
</div>