html, body {
  margin: 0;
  padding: 0;
  font-size: 62.5% !important;
  font-family: 'Open Sans', sans-serif; }

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0; }

h1 {
  font-size: 2.2rem; }

h2 {
  font-size: 2.2rem; }

p {
  font-size: 1.4rem;
  margin-bottom: 20px; }

p + ul {
  margin-top: -10px; }

li {
  font-size: 1.4rem; }

a {
  color: #0b7bf2; }

.footer {
  background-color: #4e5d78;
  padding: 10px;
  color: white;
  display: flex;
  font-size: 1rem;
  justify-content: space-around;
  flex-shrink: 0;
  flex-direction: column; }

.footer .address li {
  list-style: none; }

.footer h4 {
  text-align: center;
  font-size: 1.4rem;
  margin: 10px 0; }

.footer li {
  font-size: 1.2rem; }

.footer a {
  color: white;
  text-decoration: none; }

.footer ul {
  padding-left: 20px; }

.footer .contact-link {
  font-weight: 700;
  margin-top: 10px;
  padding-left: 20px;
  display: block;
  text-decoration: underline;
  font-size: 1.4rem; }

#__layout {
  position: relative; }

.content-wrapper {
  display: flex;
  flex-direction: column; }

.content {
  flex: 1 0 auto; }

.hero-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  color: white; }

.hero-image {
  background-image: linear-gradient(rgba(26, 68, 140, 0.811), rgba(26, 68, 140, 0.811)), url("/img/castings-header.png"); }

video {
  width: 100vw; }

.video-wrapper {
  position: absolute;
  overflow: hidden;
  height: auto; }

.video-wrapper:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(26, 68, 140, 0.811); }

.video-outer {
  width: 100%;
  display: block;
  text-align: center;
  position: relative;
  overflow: hidden;
  /* min-height: 250px; */
  min-height: 55vw; }

.title-wrapper {
  position: absolute;
  top: 10px;
  left: 20px; }

.title-wrapper h1 {
  font-size: 2.5rem; }

.title-wrapper h1 a {
  color: white;
  text-decoration: none; }

.contact-wrapper {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none; }

.contact-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 9999; }

.contact-details a {
  margin: 0;
  font-size: 1.6rem;
  text-decoration: none;
  display: block;
  color: #ffffff;
  margin-bottom: 5px; }

a.contact-label {
  font-weight: 700; }

a.contact-label,
.contact-details a:hover {
  text-decoration: underline; }

.mobile-contact-wrapper .contact-details {
  position: absolute;
  bottom: 15px;
  left: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%; }

.mobile-contact-wrapper .contact-details a {
  font-size: 1.2rem; }

.hero-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  color: white;
  position: absolute;
  width: 100vw; }

.hero-text h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0; }

.hero-text h2.italic {
  font-size: 1.6rem;
  font-style: italic;
  margin: 0; }

.services {
  padding-top: 10px; }

section {
  padding: 0 10px 20px;
  min-height: 30vh; }

section h3 {
  font-size: 1.6rem; }

.services-wrapper {
  display: flex;
  flex-wrap: wrap; }

.services-wrapper a {
  text-decoration: none;
  color: #000000; }

.service-wrapper {
  align-self: center;
  display: flex;
  width: 250px;
  height: 200px;
  flex-direction: column;
  background-size: cover;
  border-radius: 5px; }

#diecasting-service {
  background-image: url(/img/machine-1.png); }

#toolmaking-service {
  background-image: url(/img/toolroom-1.png); }

#secondary-service {
  background-image: url(/img/tapping.png); }

#assembly-service {
  background-image: url(/img/assembly-2.png); }

.hero-text .italic {
  font-style: italic; }

.floating-card-contents {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 5px;
  align-items: center; }

.card-image {
  background-size: cover;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center; }

.floating-card-wrapper {
  z-index: 999;
  flex: 50%;
  justify-content: center;
  display: flex; }

.floating-card-wrapper:hover .card-image {
  background-color: #ffffff58 !important;
  background-blend-mode: overlay; }

.floating-card-wrapper:hover .read-more {
  display: block; }

.card-text-wrapper {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.card-text-wrapper h3 {
  margin: 10px 0; }

section.about-section {
  background-color: #eaeaea;
  margin: 0; }

section.about-section h2,
section.news-section h2 {
  font-weight: 400;
  margin: 10px 0; }

section.news-section h2 {
  margin: 10px 0 20px 10px; }

.flex-wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: column; }

.about-item {
  flex-basis: 50%;
  margin-bottom: 20px; }

.news-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }

.news-wrapper .flex-wrapper {
  flex-direction: row;
  flex-wrap: wrap; }

.news-item {
  flex-basis: 45%;
  padding: 5px;
  box-shadow: 1px 2px 5px #cacaca;
  cursor: pointer;
  margin-bottom: 20px; }

.news-item a {
  text-decoration: none;
  color: #000000; }

.news-item:hover {
  box-shadow: 1px 2px 3px #989898; }

.news-item .read-more {
  height: 25px;
  display: flex;
  justify-content: center; }

.news-item .read-more span {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000000; }

.news-img-wrapper {
  display: flex;
  justify-content: center;
  /* max-height:100px; */
  position: relative; }

.news-img-wrapper img {
  max-height: 60px;
  max-width: 70%;
  border-radius: 5px;
  margin: 35px 0 10px 0; }

.news-item-header h3 {
  font-size: 1.2rem;
  margin-bottom: 10px; }

.news-date {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column; }

.date-day {
  font-size: 1.8rem;
  font-weight: 700; }

.date-month {
  font-size: 1.1rem; }

.view-news {
  display: flex;
  flex-basis: 45%;
  margin-bottom: 20px;
  justify-content: center;
  text-decoration: none; }

.view-news:hover {
  text-decoration: underline; }

.news-section {
  padding-bottom: 30px; }

.news-section .view-news h2 {
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
  align-self: center;
  cursor: pointer;
  margin: 0 10px; }

.news-section .view-news h2:hover {
  text-decoration: underline; }

.section-inner {
  padding: 20px 10px; }

.about-item.image {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column; }

.subheading-title {
  font-size: 3rem;
  font-weight: 100; }

@media (min-width: 400px) {
  .title-wrapper h1 {
    margin-top: 10px;
    font-size: 2.5rem; }
  .mobile-contact-wrapper .contact-details a {
    font-size: 1.4rem; }
  .card-image {
    height: 160px; }
  .services-wrapper {
    margin: 20px 0; }
  .services {
    padding-top: 0; }
  .footer {
    flex-direction: row; } }

@media (min-width: 658px) {
  .title-wrapper h1 {
    font-size: 4.5rem; }
  .hero-text h2 {
    font-size: 3.5rem;
    font-weight: 400;
    margin: 0; }
  .hero-text h2.italic {
    font-size: 2.6rem;
    font-style: italic;
    margin: 0; }
  .card-image {
    height: 180px; }
  .news-item {
    flex-basis: 28%; } }

@media (min-width: 768px) {
  p, li {
    font-size: 1.4rem; }
  .contact-wrapper {
    display: flex; }
  .contact-details a:nth-child(1) {
    text-align: center;
    width: 100%; }
  .mobile-contact-wrapper {
    display: none; }
  .services-wrapper {
    margin: -70px 0 20px 0; }
  .video-outer {
    min-height: 450px; }
  .floating-card-wrapper {
    flex: 25%; }
  .flex-wrapper {
    flex-direction: row; }
  .news-wrapper {
    flex-direction: row; } }

@media (min-width: 900px) {
  .video-wrapper {
    height: 500px; }
  section {
    padding: 40px;
    min-height: 30vh; }
  section.services {
    padding-bottom: 0; }
  section h3 {
    font-size: 1.8rem; }
  .floating-card-contents {
    height: 330px; }
  .card-image {
    height: 180px; }
  .card-text-wrapper h3 {
    margin: 20px 0 0; }
  .news-item {
    max-width: 30vw; }
  .view-news {
    flex-basis: 80px; }
  .news-img-wrapper img {
    max-height: 100px;
    margin: 15px 0 10px 0; }
  section.services {
    padding-bottom: 0; } }

@media (min-width: 1024px) {
  .video-wrapper video {
    margin-top: -130px; }
  section.services {
    margin: 0 100px; }
  .about-section .section-inner {
    padding: 20px 100px; }
  .news-section {
    margin: 20px 100px 0; }
  .title-wrapper h1 {
    font-size: 6.5rem; } }

@media (min-width: 768px) {
  h2 {
    font-size: 2.6rem; }
  .footer {
    padding: 20px;
    font-size: 1.4rem;
    line-height: 2rem;
    justify-content: space-around; } }

.hero-image {
  position: relative;
  height: 17vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.hero-image {
  background-image: linear-gradient(rgba(26, 68, 140, 0.811), rgba(26, 68, 140, 0.811)), url("/img/castings-header.png"); }

.links {
  padding-top: 15px; }

.menu-icon {
  height: 16px;
  position: absolute;
  left: 7px;
  top: 8px;
  fill: white;
  cursor: pointer; }

.title-wrapper-small {
  position: absolute;
  top: 5px;
  left: 40px; }
  .title-wrapper-small h1 {
    font-size: 1.7rem; }

.title-wrapper-small a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem; }

.section-wrapper {
  margin: 20px 0 0;
  padding-bottom: 10px; }

@media (min-width: 480px) {
  .section-text {
    margin-top: 30px; }
  .title-wrapper-small a {
    font-size: 2.4rem; }
  .menu-icon {
    height: 18px;
    left: 7px;
    top: 9px; } }

@media (min-width: 768px) {
  .section-wrapper {
    flex-direction: row; }
  .title-wrapper-small a {
    font-size: 2.8rem; }
  .title-wrapper-small {
    left: 50px; }
  .menu-icon {
    height: 24px;
    left: 9px;
    top: 10px; } }

#map-wrap {
  width: 100%;
  height: 300px;
  margin-bottom: 0; }

.details {
  font-size: 14px; }

.details a {
  /* text-decoration: none; */
  color: #22437f; }

.contact-section {
  display: flex;
  margin-top: 20px; }

.accent {
  font-size: 1.4rem;
  color: #22437f;
  font-weight: 600;
  flex: 1;
  max-width: 120px; }

.contact-section-wrapper {
  padding-bottom: 30px; }

.contact-section-wrapper > div {
  flex-basis: 70%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column; }

.section-img-wrapper img {
  height: 150px;
  box-shadow: 2px 2px 5px #929292;
  border-radius: 5px; }

.section-text {
  font-size: 1.2rem;
  padding: 0 20px; }

.section-img-wrapper {
  display: flex;
  justify-content: center; }

@media (min-width: 480px) {
  .section-text {
    margin-top: 30px; } }

@media (min-width: 900px) {
  .contact-section-wrapper {
    display: flex;
    flex-direction: row;
    margin: 40px 10px; }
  #map-wrap {
    height: auto; } }

.sidenav-wrapper {
  height: 100vh;
  z-index: 99999;
  position: absolute;
  background-color: #4b74bb;
  width: 100%;
  padding: 30px;
  font-size: 2rem;
  position: absolute; }

.sidenav-wrapper.collapsed {
  margin-left: -400px; }

.sidenav-header h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #fff; }

.close-icon {
  top: 5px;
  right: 15px;
  font-size: 3rem;
  position: absolute;
  color: #fff;
  cursor: pointer; }

.link-wrapper {
  padding: 15px 10px; }

.link-wrapper a {
  color: #fff;
  text-decoration: none;
  font-size: 2rem; }

.link:hover {
  color: #c6c6c6; }

.subsection {
  margin-left: 30px;
  border-left: solid #000000 3px; }

.subsection-heading {
  padding: 10px;
  font-weight: 700;
  color: #fff; }

@media (min-width: 400px) {
  .sidenav-wrapper {
    width: 400px; } }

.service-section-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto; }

.service-content img {
  width: 300px; }

.image-wrapper {
  justify-content: space-evenly;
  display: flex;
  margin: 30px 0; }

.show-mobile {
  display: block; }

.hide-mobile {
  display: none; }

@media (min-width: 480px) {
  .show-mobile {
    display: none; }
  .hide-mobile {
    display: block; } }

/*# sourceMappingURL=main.css.map */