{{> subheader title="Assembly"}}

<section>
  <div class="section-wrapper service-section-wrapper">
    <div class="service-content">
      <p>
        <strong>To complement the diecasting process</strong> we are able to offer an in-house assembly service. The
        experienced assembly team work with our customers to produce high quality products by
        maintaining levels of component stock, monitoring quality of paint or plated finish and package
        products appropriately for despatch.
      </p>
      <div class="image-wrapper">
        <img src="/img/finishes.png">
        <img class="hide-mobile" src="/img/tapping.png">
      </div>
      <p>
        All bought in components, including paint or plating are sourced locally. We have built an
        excellent working relationship with our regular suppliers over many years.
      </p>
      <p>
        Components include:
        <ul>
          <li>Plastic mouldings</li>
          <li>Springs</li>
          <li>Turned parts</li>
          <li>Pressings</li>
        </ul>
      </p>
      <p>And a range of finishes:
        <ul>
          <li>Powder coat</li>
          <li>Passivate (inc 240 hr)</li>
          <li>Barrel Nickel</li>
          <li>Polish and Chrome plating</li>
      </ul>
      </p>
      <p>There are advantages when assembling zinc parts as they will accept a range of joining
      methods.
        <ul>
          <li>Screw fixing using threaded holes and self tapping screws</li>
          <li>Interference fit - a cheap and effective way to join two castings permanently</li>
          <li>Crimping and riveting</li>
        </ul>
      </p>
      <div class="image-wrapper">
        <img class="show-mobile" src="/img/tapping.png">
      </div>

    </div>
  </div>

</section>


