{{> subheader title="Diecast Machining"}}

<section>
  <div class="section-wrapper service-section-wrapper">
    <div class="service-content">
      <p><strong>The zinc die casting department runs five Frech Diecasting Machines</strong> ranging through from 20t,
      50t, 80t and 125t locking force. This enables a spread across the component range from 6g casting weight up to 600g casting weight.</p>
      <p>
        We have invested in automated robot take off and part separation as well as automated sprue removal and separation.
      </p>
      <div class="image-wrapper">
        <img src="/img/machine-1.png">
        <img class="hide-mobile" src="/img/caddrawing.png">
      </div>
      <p>
        Some 30% of our zinc diecasting components are destined for decorative plated applications and
        require a suitable cast quality finish. This is achieved by a combination of the die setters
        experience, the controllable functions of the frech machines and the die design.
      </p>
      <p>
        Many of the dies Jones and Wilkinson run are based on the unit die philosophy which allows
        lower cost dies to be run on a common bolster. This facilitates quicker changeovers and thus
        smaller batch runs, nominally 500/1000 shot runs at no high premium casting rate.
        Jones and Wilkinson currently diecast in either ZL5 zinc or ZL2 zinc dependant on customer requirements.
      </p>
      <p>
        All zinc used conforms to EN1774 1997 ingot specification and is primarily supplied by the <a href="//www.brockmetal.com" target="_blank">Brock
        Metal Company Ltd</a>. ZL5 zinc alloy is generally used for castings where
        a moderately stronger and harder alloy is required.
      </p>
      <p>
        It is suitable for small intricate diecastings or where surface preparation needs to be achieved
        prior to electroplating.ZL2 zinc alloy is used selectively for castings where improved tensile
        strength or hardness are required above that achieved by ZL5.
      </p>
      <p>
        To find out more about the zinc diecasting from Jones and Wilkinson please <a href="/contact">contact us</a>.
      </p>
      <div class="image-wrapper">
        <img class="show-mobile" src="/img/caddrawing.png">
      </div>

    </div>
  </div>

</section>


