{{> subheader title="Secondary operations"}}

<section>
  <div class="section-wrapper service-section-wrapper">
    <div class="service-content">
      <p><strong>We have the capability to carry out many post casting operations:</strong>
        <ul>
          <li>Tapping</li>
          <li>Drilling</li>
          <li>Barrelling</li>
          <li>Auto-shot blasting</li>
        </ul>
      </p>
      <div class="image-wrapper">
        <img src="/img/handle.png">
        <img class="hide-mobile" src="/img/component-2.png">
      </div>
      <p>
        For components that have low annual quantities it is often more economic to have simpler tools and CNC machine the casting to give
        it features such as undercuts and tapped holes. We can give you a direct price comparison and advise you as to the best method of production.
      </p>
      <p>
        Our plant list includes:
        <ul>
          <li>Hurco VM10 Machining Centre</li>
          <li>Bridgeport 460 Machining Centre</li>
          <li>2 x Fadal CNC88 Machining Centre</li>
          <li>Bridgeport Interact Mill</li>
        </ul>
      </p>
      <div class="image-wrapper">
        <img src="/img/component-3.png">
      </div>
      <p>Our machines are set by experienced toolmakers using Solidworks and CAD CAM package to program cutter paths.</p>
      <div class="image-wrapper">
        <img class="show-mobile" src="/img/component-2.png">
      </div>
    </div>
  </div>

</section>