{{> subheader title="Toolmaking"}}

<section>
  <div class="section-wrapper service-section-wrapper">
    <div class="service-content">
      <p><strong>Our fully equipped toolroom</strong> is dedicated to new tooling for Jones & Wilkinson, and also as maintenance and support for the diecasting department.</p>
      <p>
        It features:
        <ul>
          <li>Complete die design using Solidworks 3D CADCAM</li>
          <li>Links to CNC machining Centres</li>
        </ul>
      </p>
      <div class="image-wrapper">
        <img src="/img/machine-2.png">
        <img class="hide-mobile" src="/img/toolroom-2.png">
      </div>
      <p>
        We aim to minimise die costs without compromising the efficiency of the die by incorporating unit die design onto common bolsters wherever possible.
      </p>
      <p>
        The experience we have to hand in the design of sprue runners and feeds, engineers out many
        requirements for clipping tools. The runner system is also key to the final quality of the casting, in
        particular when powder coat or polished finishes are required.
      </p>
      <div class="image-wrapper">
        <img src="/img/toolroom-3.png">
        <img class="hide-mobile" src="/img/toolroom-4.png">
      </div>
      <h3>Die refurbish</h3><br>
      <p>We are happy refurbish existing dies, applying modern metal flow theory to eliminate casting problems.</p>

    </div>
  </div>

</section>


